@charset "UTF-8";

@import "scss/_Home";
@import "scss/_BookList";
@import "scss/_BookInfo";
@import "scss/_ChapterList";
@import "scss/_BooksCategory";
@import "scss/_BooksPage";
@import "scss/_ChapterList";
@import "scss/_AuthorInfo";

body{
    // margin:50px 100px;
    background-color: #FAFAFA;
    font:14px/1.5 arial,pingfang,”Microsoft Yahei”,"\5b8b\4f53",”Hiragino Sans GB”,sans-serif;
}
a{
    text-decoration: none;
}


.container{
    width: 1024px;
    margin: 0 auto;
    .main{
        float: left;
        width:650px;
    }
    .sidebar{
        float: right;
        margin-left: 10px;
        margin-top: 5px;
        width: 360px;

    }
}
.clear{
    clear: both;
}
// 通用样式
.clearfix{
    clear:both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.positionR{
    position: relative;
}
