body{
    // margin:50px 100px;
    background-color: #FAFAFA;
    font:14px/1.5 arial,pingfang,”Microsoft Yahei”,"\5b8b\4f53",”Hiragino Sans GB”,sans-serif;
}
a{
    text-decoration: none;
}
// .header{
//     height: 90px;
//     width: 1024px;
//     margin: 0 auto;
//     .logo {
//         img{
//             width:78px;
//             padding-top: 5px;
//         }
//     }
//     // .wrap{
//     //     width: 1024px;
//     //     margin: 0 auto;
//     // }
//     .nav_ul{
//         height: 40px;
//         font-size: 14px;
//         list-style: none;
//         padding-top: 10px;
//         color: #aaa;
//         line-height: 38px;
//         li{
//             float: left;
//             a{
//                 color: #222;
//                 display: inline-block;
//                 margin: 0 14px;
//             }
//             a:hover {
//                 color: #4A90E2;
//                 font-size: 18px;
//                 border-bottom: solid 2px #4A90E2;
//             }
//
//         }
//         li.active a{
//             color: #4A90E2;
//             font-size: 18px;
//             border-bottom: solid 2px #4A90E2;
//         }
//     }
// }


.container{
    width: 1024px;
    margin: 0 auto;
    .main{
        float: left;
        width:650px;
    }
    .sidebar{
        float: right;
        margin-left: 10px;
        margin-top: 5px;
        width: 360px;

    }
}
.clear{
    clear: both;
}
// 通用样式
.clearfix{
    clear:both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.positionR{
    position: relative;
}
