.authorinfo{
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 360px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    padding: 5px;
    .author{
        color:#424242;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 1px solid #4A90E2;
        margin-bottom: 5px;
    }
    .author-img{
        float: left;
        margin: 5px 15px 5px 5px;
        img{
            width: 100px;
        }
    }
    .summary{
        color: #444;
        font-size: 14px;
        line-height: 20px;
    }
}
