
body{
    // margin:50px 100px;
    background-color: #FAFAFA;
    font : #757575 14px/1.5 arial,”Hiragino Sans GB”,”Microsoft Yahei”,sans-serif;
}

.container{
    width: 1024px;
    margin: 0 auto;
    .main{
        float: left;
        width:650px;
    }
    .sidebar{
        float: right;
        margin-left: 10px;
        width: 360px;
    }
}
